{{ partial "wiki_header.html" . }}
  <div class="wrap">

    <!-- Sidebar -->
    {{ partial "wiki_sidebar.html" . }}

    <!-- Main content -->
    <main>
      <header class="page-title">
        <h1>{{ .Title }}</h1>
        {{ with .Params.description }}
          <p>{{ . }}</p>
        {{ end }}
      </header>

      <section>
        {{ .Content }}

        <ul>
        {{ range .Pages.ByWeight }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      </section>

    </main>
  </div>
{{ partial "wiki_footer.html" . }}
